<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- //NOTE TO SELF: this doesn't work for some reason maybe bec it's ejs and not html(?)-->
    <link rel="stylesheet" href="styles.css"> 

    <title>Document</title>
</head>
<body>
    <h1>'Sup  <%= locals.username || "everyone" %>  </h1>
</body>
</html>