<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- //NOTE TO SELF: line below is made possible by accessing styles.css from app.js(formerly; testing.js)-->
    <link rel="stylesheet" href="/assets/styles.css"> 

    <title>MySandBox</title>
</head>
<body>
    <h1>User Dashboard here</h1>

</body>
</html>